{% extends "base.html" %}

{% block content %}

<div class="card card-warning">

<div class="card-header">
<h3>Lupa Password Admin</h3>
</div>


<div class="card-body">

<form method="POST">


<div class="form-group">
<label>Username Admin</label>

<input 
type="text"
name="username"
class="form-control"
required>
</div>


<div class="form-group">
<label>Kode Reset</label>

<input 
type="text"
name="kode"
class="form-control"
required>

<small>
Kode reset hubungi pemilik aplikasi
</small>

</div>


<div class="form-group">
<label>Password Baru</label>

<input 
type="password"
name="password_baru"
class="form-control"
required>

</div>


<button class="btn btn-warning">
Reset Password
</button>


<a href="/login"
class="btn btn-secondary">
Kembali
</a>


</form>

</div>

</div>


{% endblock %}